@model StudyConnect.Models.CauLacBo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CauLacBo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenClb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenClb)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DotDeCuPhoChuNhiems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DotDeCuPhoChuNhiems)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoatDongClbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoatDongClbs)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiLieuClbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiLieuClbs)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhVienClbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThanhVienClbs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaClb">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
